/* 
 * Controles 
 */
 

/* contenedor de controles */
.controls-box {
  position: fixed;
  padding: 10px;
  display: flex;
}

/* boton */
.control {
  width: 10vw;
  height: 10vw;
  background: url("../assets/img/btn-move.png");
  background-size: 100% 100%;
  image-rendering: pixelated;
  margin: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  transition: filter 0.1s;
}
.control:active {
  filter: opacity(0.5) grayscale(1);
}


#move-back {
  transform: scaleX(-1);
}
#move-up {
  transform: rotate(-90deg);
}
#action-atack {
  background-image: url("../assets/img/btn-atack.png")
}

#controls-left {
  bottom: 0;
  left: 0;
}

#controls-right {
  bottom: 0;
  right: 0;
}